/* основні кольори */
:root {
    --main-background-colour: #FFFFFF;
    --second-background-colour: #2F303A;
    --main-text-colour: #212121;
    --content-text-colour: #757575;
    --accent-colour: #2196F3;
    --white-text-colour: #FFFFFF;
    --footer-contacts-colour: rgba(255, 255, 255, 0.6);
    --filter-button-background-colour: #F5F4FA;
}
/* загальні стилі сайту0 */
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
}
/* забрати розмітку списків */
li{
    list-style-type: none;
}
/* загальні стилі header */
.header {
    color: var(--main-text-colour);
    background-color: var(--background-colour);
}
.header a {
    text-decoration: none;
}
.logo-header {
    color: var(--main-text-colour);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-header .logo:visited {
    color: var(--main-text-colour);
}
.logo-header .web {
    color: var(--accent-colour);
}
.nav {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.button {
    color: var(--main-text-colour);
}
.nav .button:hover,
.nav .button:focus  {
    color: var(--accent-colour);
}
.activity-pages {
    color: var(--accent-colour);
}
.contacts {
    font-weight: 500;
    line-height: 1.36;
    letter-spacing: 0.02em;
}
.contacts-link {
    color: var(--content-text-colour);
}
.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
    color: var(--accent-colour);
}

/* загальні стилі footer */
.footer {
    background-color: var(--second-background-colour);
}
.footer a {
    text-decoration: none;
}
.logo-footer {
    color: var(--white-text-colour);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-footer .logo {
    color: var(--white-text-colour);
    text-decoration: none;
}
.logo-footer .web {
    color: var(--accent-colour);
}
.address {
    color: var(--white-text-colour);

    font-style: normal;
    line-height: 1.71;  
    letter-spacing: 0.03em;
}
.address .contacts-link {
    color: var(--footer-contacts-colour);
    font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
}
.footer .contacts-link:hover,
 .footer .contacts-link:focus{
    color: var(--accent-colour);
}

/* index.html styles */
.main {
    color: var(--main-text-colour);
}
/* heroic */
.heroic {
    background-color: var(--second-background-colour);
    color: var(--white-text-colour);
}
.heroic-title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}
.heroic-button {
    background-color: var(--accent-colour);
    color: var(--white-text-colour);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
}
/* прихований заголовок */
.hiden-text {
    visibility: hidden
}
/* переваги */
.benefits {

}
.benefits-title {
    color: var(--main-text-colour);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.benefits-description {
    color: var(--content-text-colour);
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/* чим займаємось */
.employment, .command{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}




/* стилі портфоліо */
.portfolio-page {

}
/* стилі фільтру */
.filter-panel {
    font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
}
.filter-button {
    background-color: var(--filter-button-background-colour);
    color: var(--main-text-colour);
}
.filter-button:hover,
.filter-button:focus {
    background-color: var(--accent-colour);
    color: var(--white-text-colour);
}
.examples-works a {
    text-decoration: none;
}
.examples-works h2 {
    color: var(--main-text-colour);

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.examples-works p {
    color: var(--content-text-colour);

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}